{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Devices{% endblock %}
{% block content %}
    <div class="container">
        <p class="lead text-center">
            Devices
        </p>
        <div class="row">
            <table class="table table-responsive align-middle table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Mac Address</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Enabled</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for d in devices %}
                        <tr>
                            <th scope="row">{{ d.id }}</th>
                            <td>{{ d.mac_address }}</td>
                            <td>{{ d.employee }}</td>
                            <td>{{ d.enabled }}</td>
                            <td><a href="/devices/{{ d.id }}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Edit Device</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="row row-cols-2 justify-content-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDevice">+ Add a device</button>
        </div>
    </div>
    <div class="modal fade" id="addDevice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a New Device</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ render_form(new_device,action="/api/addDevice") }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
