{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Click on the environment to view the details
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <object id="svg-map" data="../static/map-interactive.svg" class="img-fuid"></object>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseMH">
                <div class="card">
                    <div class="card-header fs-3">Room: Main Hall</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#securityMH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customersMH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeMH">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseEH">
                <div class="card">
                    <div class="card-header fs-3">Room: Entrance Hall</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#securityEH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customersEH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeEH">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseCR">
                <div class="card">
                    <div class="card-header fs-3">Room: Consulting Room</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#securityCR">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customersCR">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge" data-bs-toggle="modal" data-bs-target="#employeeCR"></i> Number of employees: </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseV">
                <div class="card">
                    <div class="card-header fs-3">Room: Vault</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock" data-bs-toggle="modal" data-bs-target="#securityV"></i> Security Level: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customersV">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeV">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="securityMH" tabindex="-1" aria-labelledby="securityMH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customersMH" tabindex="-1" aria-labelledby="customersMH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="employeeMH" tabindex="-1" aria-labelledby="employeeMH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="securityEH" tabindex="-1" aria-labelledby="securityEH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customersEH" tabindex="-1" aria-labelledby="customersEH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="employeeEH" tabindex="-1" aria-labelledby="employeeEH" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="securityCR" tabindex="-1" aria-labelledby="securityCR" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customersCR" tabindex="-1" aria-labelledby="customersCR" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="employeeCR" tabindex="-1" aria-labelledby="employeeCR" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="securityV" tabindex="-1" aria-labelledby="securityV" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customersV" tabindex="-1" aria-labelledby="customersV" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="employeeV" tabindex="-1" aria-labelledby="employeeV" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    window.onload = ()=>{
        const map = document.getElementById("svg-map").contentDocument;
        const main_hall = map.getElementById("main-hall")
        const entrance_hall = map.getElementById("entrance-hall")
        const consulting = map.getElementById("consulting-room")
        const vault = map.getElementById("vault")
        const collapseMH = document.getElementById("collapseMH")
        const collapseEH = document.getElementById("collapseEH")
        const collapseCR = document.getElementById("collapseCR")
        const collapseV = document.getElementById("collapseV")
        const bCMH=new bootstrap.Collapse(collapseMH,{toggle:false})
        const bCEH=new bootstrap.Collapse(collapseEH,{toggle:false})
        const bCCR=new bootstrap.Collapse(collapseCR,{toggle:false})
        const bCV=new bootstrap.Collapse(collapseV,{toggle:false})

        main_hall.addEventListener("click",()=>{
            bCEH.hide()
            bCCR.hide()
            bCV.hide()
            bCMH.toggle()

        })
        entrance_hall.addEventListener("click",()=>{
            bCMH.hide()
            bCCR.hide()
            bCV.hide()
            bCEH.toggle()

        })
        consulting.addEventListener("click",()=>{
            bCMH.hide()
            bCV.hide()
            bCEH.hide()
            bCCR.toggle()
        })
        vault.addEventListener("click",()=>{
            bCMH.hide()
            bCEH.hide()
            bCCR.hide()
            bCV.toggle()
        })
    }

    </script>
{% endblock %}
