{% extends 'base.html' %}
{% from 'components/log_component.html' import log_component %}
{% from 'components/log_employees.html' import log_employee %}
{% from 'components/security_component.html' import security_level %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Click on the environment to view the details
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <object id="svg-map" data="../static/map-interactive.svg" class="img-fuid"></object>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseMH">
                <div class="card">
                    <div class="card-header fs-3">Room: Main Hall</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: {{ security[0].1 }} </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bSMH" data-bs-target="#securityMH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: {{ logs[1]["len"] }} </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bLMH" data-bs-target="#customersMH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: {{ employee_logs[1]["len"] }} </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" id="#bEMH" data-bs-target="#employeeMH">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseEH">
                <div class="card">
                    <div class="card-header fs-3">Room: Entrance Hall</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: {{ security[1].1 }}  </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bSEH" data-bs-target="#securityEH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: {{ logs[2]["len"] }} </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bLEH" data-bs-target="#customersEH">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: {{ employee_logs[2]["len"] }} </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" id="#bEEH" data-bs-target="#employeeEH">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseCR">
                <div class="card">
                    <div class="card-header fs-3">Room: Consulting Room</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: {{ security[2].1 }}  </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bSCR" data-bs-target="#securityCR">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: {{ logs[3]["len"] }} </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bLCR" data-bs-target="#customersCR">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge" ></i> Number of employees:{{ employee_logs[3]["len"]}} </span>
                                </div>
                                <div class="col-1 ">
                                    <button id="#bECR" data-bs-target="#employeeCR"  class="btn btn-primary">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse" id="collapseV">
                <div class="card">
                    <div class="card-header fs-3">Room: Vault</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-shield-lock"></i> Security Level: {{ security[3].1 }}  </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bSV" data-bs-target="#securityV">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-people"></i> Number of customers: {{ logs[4]["len"] }} </span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="#bLV" data-bs-target="#customersV">Expand</button>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="col-11">
                                    <span class="fs-5"><i class="bi-person-badge"></i> Number of employees: {{ employee_logs[4]["len"] }} </span>
                                </div>
                                <div class="col-1 ">
                                    <button class="btn btn-primary" id="#bEV" data-bs-target="#employeeV">Expand</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ security_level("Main Hall",security[0].1 ,"#securityMH") }}
    {{ log_component("Main Hall","#customersMH",logs[1]["len"],logs[1]["data"])}}
    {{ log_employee("Main Hall","#employeeMH",employee_logs[1]["len"],employee_logs[1]["data"]) }}
    {{ security_level("Entry Hall",security[1].1,"#securityEH") }}
    {{ log_component("Entrance Hall","#customersEH",2,logs[1]["data"])}}
    {{ log_employee("Entrance Hall","#employeeEH",employee_logs[1]["len"],employee_logs[1]["data"]) }}
    {{ security_level("Consulting Room",security[2].1,"#securityCR") }}
    {{ log_component("Consulting Room","#customersCR",4,logs[1]["data"])}}
    {{ log_employee("Consulting Room","#employeeCR",employee_logs[1]["len"],employee_logs[1]["data"])}}
    {{ security_level("Vault",security[3].1,"#securityV")}}
    {{ log_component("Vault","#customersV",400,logs[1]["data"])}}
    {{ log_employee("Vault","#employeeV",employee_logs[1]["len"],employee_logs[1]["data"])}}
    <script>
    window.onload = ()=>{
        const map = document.getElementById("svg-map").contentDocument;
        const main_hall = map.getElementById("main-hall")
        const entrance_hall = map.getElementById("entrance-hall")
        const consulting = map.getElementById("consulting-room")
        const vault = map.getElementById("vault")
        const collapseMH = document.getElementById("collapseMH")
        const collapseEH = document.getElementById("collapseEH")
        const collapseCR = document.getElementById("collapseCR")
        const collapseV = document.getElementById("collapseV")
        const bCMH=new bootstrap.Collapse(collapseMH,{toggle:false})
        const bCEH=new bootstrap.Collapse(collapseEH,{toggle:false})
        const bCCR=new bootstrap.Collapse(collapseCR,{toggle:false})
        const bCV=new bootstrap.Collapse(collapseV,{toggle:false})

        const sMH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#securityMH'))
        const bSMH= document.getElementById("#bSMH")
        bSMH.addEventListener('click',(e)=>{
            e.preventDefault()
            sMH.show()
        })

        const lMH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#customersMH'))
        const bLMH= document.getElementById("#bLMH")
        bLMH.addEventListener('click',(e)=>{
            e.preventDefault()
            lMH.show()
        })
        const eMH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#employeeMH'))
        const bEMH= document.getElementById("#bEMH")
        bEMH.addEventListener('click',(e)=>{
            e.preventDefault()
            eMH.show()
        })

        const sEH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#securityEH'))
        const bSEH= document.getElementById("#bSEH")
        bSEH.addEventListener('click',(e)=>{
            e.preventDefault()
            sEH.show()
        })

        const lEH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#customersEH'))
        const bLEH= document.getElementById("#bLEH")
        bLEH.addEventListener('click',(e)=>{
            e.preventDefault()
            lEH.show()
        })
        const eEH= bootstrap.Modal.getOrCreateInstance(document.getElementById('#employeeEH'))
        const bEEH= document.getElementById("#bEEH")
        bEEH.addEventListener('click',(e)=>{
            e.preventDefault()
            eEH.show()
        })

        const sCR= bootstrap.Modal.getOrCreateInstance(document.getElementById('#securityCR'))
        const bSCR= document.getElementById("#bSCR")
        bSCR.addEventListener('click',(e)=>{
            e.preventDefault()
            sCR.show()
        })

        const lCR= bootstrap.Modal.getOrCreateInstance(document.getElementById('#customersCR'))
        const bLCR= document.getElementById("#bLCR")
        bLCR.addEventListener('click',(e)=>{
            e.preventDefault()
            lCR.show()
        })

        const eECR= bootstrap.Modal.getOrCreateInstance(document.getElementById('#employeeCR'))
        const bECR= document.getElementById("#bECR")
        bECR.addEventListener('click',(e)=>{
            e.preventDefault()
            eECR.show()
        })

        const sV= bootstrap.Modal.getOrCreateInstance(document.getElementById('#securityV'))
        const bSV= document.getElementById("#bSV")
        bSV.addEventListener('click',(e)=>{
            e.preventDefault()
            sV.show()
        })

        const lV= bootstrap.Modal.getOrCreateInstance(document.getElementById('#customersV'))
        const bLV= document.getElementById("#bLV")
        bLV.addEventListener('click',(e)=>{
            e.preventDefault()
            lV.show()
        })

        const eEV= bootstrap.Modal.getOrCreateInstance(document.getElementById('#employeeV'))
        const bEV= document.getElementById("#bEV")
        bEV.addEventListener('click',(e)=>{
            e.preventDefault()
            eEV.show()
        })

        main_hall.addEventListener("click",()=>{
            bCEH.hide()
            bCCR.hide()
            bCV.hide()
            bCMH.toggle()

        })
        entrance_hall.addEventListener("click",()=>{
            bCMH.hide()
            bCCR.hide()
            bCV.hide()
            bCEH.toggle()

        })
        consulting.addEventListener("click",()=>{
            bCMH.hide()
            bCV.hide()
            bCEH.hide()
            bCCR.toggle()
        })
        vault.addEventListener("click",()=>{
            bCMH.hide()
            bCEH.hide()
            bCCR.hide()
            bCV.toggle()
        })
    }

    </script>
{% endblock %}
