{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
            <img src="../static/map.svg" class="img-fluid" alt="floor plan">
        </div>
        <div class="col">
            <h3><i class="bi-people-fill"></i>Total Occupancy</h3>
            <ul class="list-unstyled">
                <li class="fs-5">Customers</li>
                <li class="fs-5">Employees</li>
            </ul>
        </div>
    </div>
    <div class="row row-cols-6 justify-content-md-center"><a href="/environments" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Expand</a></div>
    <div class="row"></div>
    </div>

{% endblock %}
