{% extends 'base.html' %}
{% block title %}Logs {% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-responsive  table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
                <th scope="col">Room</th>
            </tr>
            </thead>
            <tbody id="logsTable">

            </tbody>
        </table>
    </div>
    <script>
    function fetchData(requestURL,table){
        fetch(requestURL)
            .then(response => response.text())
            .then(text => table.innerHTML=text)
    }
        window.onload = ()=> {
            const base_url = {{ url_for("hello_world")|tojson }}
            console.log(base_url)
            const requestURL = base_url + "api/getLogs"
            const table = document.getElementById("logsTable")
            fetchData(requestURL,table)
            setInterval(()=>fetchData(requestURL,table),30000)
        }
    </script>
{% endblock %}
